	header{
    background-color: #282828;
  }


  body
	{
		background-color: white;
	}
	/*search our website*/
	.class_search1 
	{ 
		float:right; 
		background-color:		#484848; 
		color:#FFCCFF; 
		text-align:center; 
		height:30px; 
		width:170px; 
		border-radius:6px; 
		font-size:12px;
		 outline: none;
		   border: none;
	} 
			/*search our website*/
	.class_search2 
	{ 
		float:right; 
		background-color:green; 
		color:#FFCCFF; 
		text-align:center; 
		height:30px; 
		width:100px; 
		border-radius:6px; 
		font-size:15px;
		 outline: none;
		   border: none;
	}  
	
	/* pjesa e dyte me tri foto dhe tekst */
	* 
	{
		box-sizing: border-box;
	}
	
	.column 
	{
		float: left;
		width: 33.33%;
		padding: 5px;
	}
	
	.row::after 
	{
		content: "";
		clear: both;
		display: table;
	}
	/* vija poshte footer-it */
	hr.new1 
	{
		border-top: 1px solid grey;
	}  
	/* vija krejt nfillim */
	hr.new2
	{
	border-top: 1px solid green;
	}
	/* fotot npjese e dyte me tekst rreth */
	.img-round {
    border-radius: 50%;
} 
/* fotot npjesen e dyte me tekst katror */
.square 
	{
	background-color: #555;
}
/* pjese e dyte me tekst background-i */
#w{
background-color:white;
}
#o{
background-color:white;
}
.foto {
  position: relative;
  font-family: Arial;
}
/* pjese e gjelbert qe supozohet  me kane galeri */
.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: green;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height:100px; 
  width:500px;
}
/* shigjetat npjesen e gjelbert qe supozohet me kane galeri */
.next {
  background-color: 	#000000;
  color: white;
}
.previous {
  background-color: 	#000000;
  color: white;
}
/*butonin search krejt nfillim te search website */
.button {
        float:right; 
		background-color:green; 
		color:#FFCCFF; 
		text-align:center; 
		height:30px; 
		width:100px; 
		border-radius:6px; 
		font-size:15px;
		 cursor: pointer;
		   outline: none;
		   border: none;
}
/* kur e qet kursorin mbi search-in e pare */
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
/* table per homepage ... */
 .btn {
  background-color:black;
  border: 1;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* ngjyra qe ndryshon kur e vendosim kursorin mbi tabelen e homepage .. */
.btn:hover {
  background-color: #303030;
  color: white;
  table-layout:fixed;
}
.footer {
    background: #282828;
    color: #d3d3d3;
    height: 400px;
    position: relative;
    font-family: Times, Times New Roman, serif;

}

.footer .footer-content
{
    border-bottom: 1px solid #686868;
    height: 350px;
    display: flex;

}
.footer .footer-content h1,
 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.footer .footer-content .footer-section
{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;

}
.footer .footer-content .newsletter-form .contact-input
{
    background: #404040; 
    width: 400px;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .6rem 1.2rem;
    border:none;
    border-radius: 7px;

}
.footer .footer-content .newsletter-form .contact-input:hover {
    background: #303030;
    border:none;
}
.btm {
padding:.7rem;
border-radius: 7px;
background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.footer .footer-bottom
{
    background: #282828;
    
    height: 30px;
    width: 100%;
    position:absolute;
    bottom: 0px;
    left:0px;
    padding-top: 10px;

}
div.korniza
   {
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  }

  div.korniza p
   {
  margin:5px 5px;
  font-weight:bold;
  color:black;
  }
  
div.alfa
   {
  margin-top:5%;
  margin-left:5%;
 }
 
a:hover
   {
  color:white;
 }
body
{
height:100%;
background-attachment:fixed;
}

a:link 
{
font-weight:bold;
font-size:120%;
width:200px;
color:white;
text-decoration:none;
}  
 
a:visited 
{
color:white;
text-decoration:none;
}

a:hover
{
font-size:18px;
color:red;
}

table
{
width:100%;
height:50px;	
padding:0px;
}

th
{
color:white;
padding:5px;
}

td
{
color:white;
text-align:left;
padding:2px;
}
